<footer class="mt-auto">
    <mat-card class="logo text-center">
        <img mat-card-lg-image [src]="logo">
    </mat-card>   
    <mat-card-content class="main-footer">
        <mat-toolbar class="text-light">
            <mat-toolbar-row class="mx-auto my-5">
                <div class="col-6 text-center">
                    <p class="h5">
                        Timetable
                    </p> 
                </div>
                <div class="col-6 text-center">
                  <p class="h5">
                    Useful links
                  </p>   
                </div>
              </mat-toolbar-row>
        </mat-toolbar>
    </mat-card-content>
    <mat-card-content class="text-center second-footer">
        <p class="py-3 text-light">
          Made by {{ name }}
        </p>
      </mat-card-content>  
</footer>